body {
  font-family: "Montserrat", sans-serif;  
  /* background-color: rgb(235, 236, 241); */
  background-color: rgb(214, 217, 233);
}
a {
  text-decoration: none;
}
.sidebar {
  /* background-color: #1e2939; */
  background-color: #27354b;
}
.sidebar__wrap {
  padding: 15px;
}
.sidebar h3 {
  color: white;
}
.sidebar__skills li {
  color: #ffffff;
  opacity: 0.7;
}
.sidebar__img {
 width: 100%; 
}
.contacts a {
  display: flex;
  align-items: center;
  color: #ffffff;

}
.contacts a:not(:last-child) {
  margin-bottom: 10px;
}
.contacts a:hover,
.contacts a:focus {
  color: #FB6D3A;
}
.main {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
}
.phone-icon,
.mail-icon,
.linkedin-icon {
  fill: #ffffff;
  margin-right: 10px;

}
.content {
  padding-left: 15px;
}

.technology-icon {
  transition-duration: 400ms;
}
.technology-icon:not(:last-child) {
   margin-right: 10px;
  }
.technology-icon:hover {
  transform: scale(1.6);
}
.btn {
    display: flex;
    color: white;
    background-color:#FB6D3A;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 400ms;
    margin-top: 5px;
    width: 120px;
   justify-content: center;
 
}
.btn:hover {
    transform: scale(1.1);
}
.about__title {
  font-size: 18px;
  margin-top: 30px;
}
.about__name {
  font-size: 34px;
}
.about li {
  font-weight: 700;
}
.education__list p{
  margin-left: 10px;
  font-weight: 700;
}
.education__list-title {
color: #FB6D3A;
}
.projects a {
  color: rgb(13, 27, 219);
}
.projects a:hover{
color: #FB6D3A;
}